<%- include('../../layouts/navbar.ejs') %>

<main class="container mt-5">
    <h1 class="text-center mb-4">Students Table</h1>
    
    <div class="row mb-3">
        <div class="col-md-12 text-end">
            <button id="addStudentBtn" class="btn btn-primary btn-lg mt-3 px-5">Add Student</button>
            <input type="hidden" id="classeId" value="<%= classeId %>" />

        </div>
    </div>
    
    <div class="table-responsive shadow-sm rounded">
        <table id="basic-datatable" class="table table-hover table-striped table-bordered bg-white dt-responsive nowrap w-100">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Date of Birth</th>
                    <th>Registration Date</th>
                    <th>Address</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Class</th>
                </tr>
            </thead>
            <tbody>
                <% if (etudiants.length > 0) { %>  
                <% etudiants.forEach(function(student) { %>
                    <tr>
                        <td><%= student.id %></td>
                        <td><%= student.email %></td>
                        <td><%= new Date(student.date_de_naissance).toLocaleDateString('en-GB') %></td>
                        <td><%= new Date(student.date_inscription).toLocaleDateString('en-GB') %></td>
                        <td><%= student.adresse %></td>
                        <td><%= student.firstname %></td>
                        <td><%= student.lastname %></td>
                        <td><%= student.classe_name %></td> <!-- Display the class name -->
                    </tr>
                <% }); %>
                <% } else { %>
                    <tr>
                        <td colspan="8" class="text-center">No students found</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    
</main>

<%- include('../../layouts/script.ejs') %>
