<%- include('../../layouts/navbar.ejs') %>
<main class="imane-main-content">
  <div class="imane-container-test">
    <h1 class="imane-page-title">Liste des Tests</h1>

    <div class="imane-table-container">
      <table id="imane-tests-table" class="imane-data-table">
        <thead>
          <tr>
            <th>Score Validation</th>
            <th>Limit Tentative</th>
            <th>Total Points</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < tests.length; i++) { %>
          <tr>
            <td><%= tests[i].score_validation %></td>
            <td><%= tests[i].limit_tentative %></td>
            <td><%= tests[i].total_points %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</main>
<%- include('../../layouts/script.ejs') %>
